body, html {
  font-size: 16px;
  line-height: 1.5em;
  width: 100%;
}


#main {
  margin-top: 20px;


  #inputs {
    width: 500px;
    margin: auto;
    text-align: center;
  }

  .node {
    circle {
      fill: #fff;
      stroke: steelblue;
      stroke-width: 3px;
    }
    text { font: 15px sans-serif; }
  }


  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
}
