body, html {
  font-size: 16px;
  line-height: 1.5em;
  width: 100%;
}


#main {
  margin-top: 20px;


  #inputs {
    width: 500px;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    h1 {
      margin-bottom: 30px;
      .label {
        font-size: 12px;
        position: relative;
        bottom: 16px;
        font-weight:400;
        // display: none;

        #order-display {
          font-weight: 600;
        }
      }
    }

    #create-form  {
      display: none;
      input[type=text] {
        width: 30px;
        padding: 3px 7px;
        text-align: right;
        height: 30px;
      }
    }

    #add-form {
      // display: none;
    }

  }

  .node {
    circle {
      fill: #fff;
      stroke: steelblue;
      stroke-width: 3px;
    }
    text { font: 15px sans-serif; }
  }


  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
}
